/* Project's Master Stylesheet */

.responsive-card-table {

    border-collapse: collapse;
}
    .responsive-card-table.unstriped tbody {
      background-color: transparent; }
    .responsive-card-table th {
      background-color: ligten(#E9E9E9, 15%); }
    .responsive-card-table tr,
    .responsive-card-table th,
    .responsive-card-table td {
      border: 1px solid #000000; }
    @media screen and (max-width: 640px) {
      .responsive-card-table {
        /* Get table cells to act like rows */ }
        .responsive-card-table thead tr {
          position: absolute;
          top: -9999em;
          left: -9999em; }
        .responsive-card-table tr {
          border: 1px solid #000000;
          display: block; }
        .responsive-card-table tr + tr {
          margin-top: 1.5rem; }
        .responsive-card-table td {
          border: none;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          border-bottom: 1px solid #000000;
          padding-left: 50%;
          position: relative; }
          .responsive-card-table td:before {
            content: attr(data-label);
            display: inline-block;
            font-weight: bold;
            line-height: 1.5;
            margin-left: -100%;
            width: 100%;
            position: relative;
            z-index: 1; }
          
.responsive-card-table td:after {
    
    content: '';
    position: absolute;
    background: ligten(#E9E9E9, 15%);
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0; 

}

}
