@font-face {
    font-family: 'Cringe Sans Regular';
    src: url('../../assets/fonts/bncringesans-regular-webfont.woff'); /* IE9 Compat Modes */
  }

@font-face {
    font-family: 'Cringe Sans Black';
    src: url('../../assets/fonts/bncringesans-black-webfont.woff'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Cringe Sans Bold';
    src: url('../../assets/fonts/bncringesans-bold-webfont.woff'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Cringe Sans Light';
    src: url('../../assets/fonts/bncringesans-light-webfont.woff'); /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Cringe Sans Medium';
    src: url('../../assets/fonts/bncringesans-medium-webfont.woff'); /* IE9 Compat Modes */
}

$color-white-abs: #FFFFFF;
$color-black-abs: #000000;
$color-white: $color-white-abs;
$color-black: $color-black-abs;

$font-weight-bold: 700;
$font-weight-normal: 500;
$font-weight-light: 300;

$font-family-primary: 'Cringe Sans Regular', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";