html, body { 
    /* this allows the children to inherit this style */
    font-family: 'bncringesans-regular', sans-serif;
    font-size: 12px;
 }
 
 body * { /* assigns this style to every tag inside of your body tag */
     font-size: 12px;
 }
 
 p, span, a, etc { /* you decided what tags would most likely contain text to apply that style */
     font-size: 12px;
 }
 
 * { /* the worst option, applying that style to every tag */
     font-size: 12px;
 }