// Main Howl Stylesheet

@import 'styles/variables';

.responsive-card-table {

  border-collapse: collapse;

  &.unstriped tbody {
    
    background-color: transparent;

  }
  
  th {

    background-color: lighten( $color-grey-light, 15% );

  }

}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {

  border: 1px solid  $color-black-abs;

}

@media screen and (max-width: 640px) {

  .responsive-card-table {

    /* Get table cells to act like rows */ 
    thead tr {

      position: absolute;
      top: -9999em;
      left: -9999em; 

    }

    tr {

      border: 1px solid $color-black-abs;
      display: block;

    }
    
    tr + tr {

      margin-top: 1.5rem; 

    }
  
    td {

      border: none;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid $color-black-abs;
      padding-left: 50%;
      position: relative; 
      
      &:before {

        content: attr(data-label);
        display: inline-block;
        font-weight: bold;
        line-height: 1.5;
        margin-left: -100%;
        width: 100%;
        position: relative;
        z-index: 1;

      }
      
      &:after {

        content: '';

        position: absolute;

        background: ligten( $color-grey-light, 15% );

        width: 45%;
        height: 95%;

        left: 1px;
        top: 1px;
        
        z-index: 0;

      }

    }

  }

}
