<h1>Find Homes for Dogs with GraphQL and Angular</h1>

<h2>Do you want to help a dog in need?</h2>

<p>This dataset contains information on over 3,000 adoptable dogs across the United States. By understanding patterns of dog movement and relocation, we can help these animals find their forever homes.
The data includes information on the origin of each dog, as well as the state they are currently listed for adoption in. This can be used to understand patterns of dog movement across the country, and how different states rely on imported dogs for adoption.</p>

<h3>There are several things to keep in mind when using this dataset:</h3>

<p>The data represents a single day of data. It is possible that patterns have changed since then.
The data only includes adoptable dogs that were listed on <a href="https://petfinder.com" target="_blank">PetFinder.com</a>.</p>

<h3>How to use the dataset</h3>

<p>This dataset of adoptable dogs in the US was collected to better understand how animals are relocated from state to state and imported from outside the US. The data includes information on over 3,000 dogs that were described as having originated in places different from where they were listed for adoption. The findings were published in a visual essay on The Pudding entitled Finding Forever Homes published in October 2019.
This dataset is a snapshot of data collected on a single day and does not include all adoptable dogs in the US. However, it provides valuable insights into the whereabouts of these animals and the journey they take to find their forever homes.</p>

<p>This dataset is a great resource for understanding how adoptable dogs are relocated from state to state and imported into the US. The data provides information on the origin of each dog, as well as the state they are currently listed for adoption in. This can be used to understand patterns of dog movement across the country, and how different states rely on imported dogs for adoption.</p>

<h2>Research Ideas</h2>

<p>Finding out how many of each type and breed of dog are brought into shelters across the USA in a given year.
Seeing which states have the most imports of dogs and what breeds/types those are.
Determining if there are any trends in the types/breeds of dogs being brought into shelters (e.g. more pit bulls than golden retrievers).</p>

<p>If you're interested in working with this dataset directly, you can do so at: <a class="btn btn-lg" href="https://www.kaggle.com/datasets/702b9dd7f705eb71033022c7716380633667fd26460f227ed09a64d1df95cce9" target="_blank">Dog Adoption Dataset</a></p>

<p>This project was made possible by <a href="https://kaggle.com">Kaggle.com</a> and contributor <a href="https://www.kaggle.com/whenamancodes" target="_blank">Aman Chauhan</a>.</p>

